/* Responsive */
@media (min-width: 800px) {
    .container {
        width: 80%;
    }

    .column,
    .columns {
        margin-left: 0;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .lg-one.column,
    .lg-one.columns {
        width: 4.66666666667%;
    }

    .lg-two.columns {
        width: 13.3333333333%;
    }

    .lg-three.columns {
        width: 22%;
    }

    .lg-four.columns {
        width: 30.6666666667%;
    }

    .lg-five.columns {
        width: 39.3333333333%;
    }

    .lg-six.columns {
        width: 48%;
    }

    .lg-seven.columns {
        width: 56.6666666667%;
    }

    .lg-eight.columns {
        width: 65.3333333333%;
    }

    .lg-nine.columns {
        width: 74.0%;
    }

    .lg-ten.columns {
        width: 82.6666666667%;
    }

    .lg-eleven.columns {
        width: 91.3333333333%;
    }

    .lg-twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .lg-one-third.column {
        width: 30.6666666667%;
    }

    .lg-two-thirds.column {
        width: 65.3333333333%;
    }

    .lg-one-half.column {
        width: 48%;
    }

    /* Offsets */
    .lg-offset-by-one.column,
    .lg-offset-by-one.columns {
        margin-left: 8.66666666667%;
    }

    .lg-offset-by-two.column,
    .lg-offset-by-two.columns {
        margin-left: 17.3333333333%;
    }

    .lg-offset-by-three.column,
    .lg-offset-by-three.columns {
        margin-left: 26%;
    }

    .lg-offset-by-four.column,
    .lg-offset-by-four.columns {
        margin-left: 34.6666666667%;
    }

    .lg-offset-by-five.column,
    .lg-offset-by-five.columns {
        margin-left: 43.3333333333%;
    }

    .lg-offset-by-six.column,
    .lg-offset-by-six.columns {
        margin-left: 52%;
    }

    .lg-offset-by-seven.column,
    .lg-offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }

    .lg-offset-by-eight.column,
    .lg-offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }

    .lg-offset-by-nine.column,
    .lg-offset-by-nine.columns {
        margin-left: 78.0%;
    }

    .lg-offset-by-ten.column,
    .lg-offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }

    .lg-offset-by-eleven.column,
    .lg-offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .lg-offset-by-one-third.column,
    .lg-offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }

    .lg-offset-by-two-thirds.column,
    .lg-offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .lg-offset-by-one-half.column,
    .lg-offset-by-one-half.columns {
        margin-left: 52%;
    }

}

@media (min-width: 550px) {
    .column,
    .columns {
        margin-left: 0;
    }

    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }
}

.row{
    overflow: var(--rowOverflow);
}