/*Modal
--------------------------------------------------*/

.modal {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 100vh;
    display: none;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;
}

.modal:target {
    display: block;
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 8px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

.close-btn {
    color: #333;
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
}

.close-btn:hover {
    transform: scale(1.5);
    transition: transform 0.3s;
}

