/* Variables Principales Colores
-------------------------------------------------- */
:root {
  --colorPrincipal: #B38D97;
  --colorSecundario: #D5ACA9;
  --colorTerciario: #EBCFB2;
  --colorCuaternario: #d1a7b1;
}

/* Responsive */
@media (min-width: 800px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 0;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .lg-one.column,
  .lg-one.columns {
    width: 4.6666666667%;
  }
  .lg-two.columns {
    width: 13.3333333333%;
  }
  .lg-three.columns {
    width: 22%;
  }
  .lg-four.columns {
    width: 30.6666666667%;
  }
  .lg-five.columns {
    width: 39.3333333333%;
  }
  .lg-six.columns {
    width: 48%;
  }
  .lg-seven.columns {
    width: 56.6666666667%;
  }
  .lg-eight.columns {
    width: 65.3333333333%;
  }
  .lg-nine.columns {
    width: 74%;
  }
  .lg-ten.columns {
    width: 82.6666666667%;
  }
  .lg-eleven.columns {
    width: 91.3333333333%;
  }
  .lg-twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .lg-one-third.column {
    width: 30.6666666667%;
  }
  .lg-two-thirds.column {
    width: 65.3333333333%;
  }
  .lg-one-half.column {
    width: 48%;
  }
  /* Offsets */
  .lg-offset-by-one.column,
  .lg-offset-by-one.columns {
    margin-left: 8.6666666667%;
  }
  .lg-offset-by-two.column,
  .lg-offset-by-two.columns {
    margin-left: 17.3333333333%;
  }
  .lg-offset-by-three.column,
  .lg-offset-by-three.columns {
    margin-left: 26%;
  }
  .lg-offset-by-four.column,
  .lg-offset-by-four.columns {
    margin-left: 34.6666666667%;
  }
  .lg-offset-by-five.column,
  .lg-offset-by-five.columns {
    margin-left: 43.3333333333%;
  }
  .lg-offset-by-six.column,
  .lg-offset-by-six.columns {
    margin-left: 52%;
  }
  .lg-offset-by-seven.column,
  .lg-offset-by-seven.columns {
    margin-left: 60.6666666667%;
  }
  .lg-offset-by-eight.column,
  .lg-offset-by-eight.columns {
    margin-left: 69.3333333333%;
  }
  .lg-offset-by-nine.column,
  .lg-offset-by-nine.columns {
    margin-left: 78%;
  }
  .lg-offset-by-ten.column,
  .lg-offset-by-ten.columns {
    margin-left: 86.6666666667%;
  }
  .lg-offset-by-eleven.column,
  .lg-offset-by-eleven.columns {
    margin-left: 95.3333333333%;
  }
  .lg-offset-by-one-third.column,
  .lg-offset-by-one-third.columns {
    margin-left: 34.6666666667%;
  }
  .lg-offset-by-two-thirds.column,
  .lg-offset-by-two-thirds.columns {
    margin-left: 69.3333333333%;
  }
  .lg-offset-by-one-half.column,
  .lg-offset-by-one-half.columns {
    margin-left: 52%;
  }
}
@media (min-width: 550px) {
  .column,
  .columns {
    margin-left: 0;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
}
.container {
  max-width: none;
}

/*Carrusel
--------------------------------------------------*/
.carrusel {
  overflow: hidden;
  height: 400px;
  position: relative;
}

.carrusel img {
  height: 400px;
}

.carrusel.animacionArriba img {
  animation: entraArriba_SaleIzquierda linear infinite;
}

.carrusel.animacionLateral img {
  animation: entraSaleLaterales linear infinite;
}

@keyframes entraArriba_SaleIzquierda {
  0% {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
  10% {
    transform: translateX(0) rotate(0deg) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) scale(0.8);
    opacity: 0;
  }
}
@keyframes entraSaleLaterales {
  0% {
    transform: translateY(-100%) scale(0.8);
    opacity: 0;
  }
  10% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  90% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) scale(0.8);
    opacity: 0;
  }
}
/* Componente Galeria
  --------------------------------------------------- */
.galeria {
  position: relative;
}

.galeria.animacionLateral {
  left: -100%;
  transition: left 2s;
}

.galeria-objeto {
  padding: 1em;
}

.galeria-objeto img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--colorSecundario);
  transition: all 0.2s ease;
  height: 150px;
  width: 100%;
  cursor: pointer;
}

.galeria-objeto:active {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  top: 50%;
}

.galeria-objeto:active img {
  transform: scale(2);
  box-shadow: 10px 10px 2px var(--colorTerciario);
}

/*Modal
--------------------------------------------------*/
.modal {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100vh;
  display: none;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

.modal:target {
  display: block;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 8px;
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #333;
  position: absolute;
  right: 15px;
  top: 15px;
  text-decoration: none;
}

.close-btn:hover {
  transform: scale(1.5);
  transition: transform 0.3s;
}

.acordeon {
  margin: auto;
  padding: 1em;
}

.acordeon .tituloAcordeon {
  padding: 1em;
  cursor: pointer;
  background: #dad8d8;
  margin: 0;
  transition: all 100ms;
  border-bottom: 1px solid #9b9a9a;
}

.acordeon .tituloAcordeon:hover {
  background: #333;
  color: white;
}

.item div:nth-child(2) {
  display: none;
  padding: 1em;
}

.menu {
  background-color: var(--colorPrincipal);
  padding: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul {
  display: none;
}

.menuHamburgesa {
  width: 7%;
  display: block;
}

.menuHamburgesa img {
  width: 100%;
  height: auto;
}

@media (min-width: 550px) {
  .menu ul {
    display: block;
    list-style: none;
  }
  .horizontal.menu ul {
    display: flex;
  }
  .horizontal.menu ul > li {
    position: relative;
    margin-right: 20px;
  }
  .horizontal.menu ul > li > a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }
  .horizontal.menu .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    min-width: 160px;
    list-style: none;
    padding: 0;
  }
  .horizontal.menu .submenu li a {
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  .horizontal.menu ul > li:hover > .submenu {
    display: block;
  }
  .horizontal.menu .submenu li a:hover {
    background-color: #555;
  }
  .vertical.menu ul > li {
    position: relative;
  }
  .vertical.menu ul > li > a {
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  .vertical.menu .submenu {
    display: none;
    background-color: #444;
    list-style: none;
    padding: 0;
  }
  .vertical.menu .submenu li a {
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  .vertical.menu ul > li:hover > .submenu {
    display: block;
  }
  .vertical.menu .submenu li a:hover {
    background-color: #555;
  }
  .submenu-left {
    position: relative;
  }
  .submenu-left > .submenu {
    left: -160px;
    /* Abre a la izquierda */
    top: 0;
    position: absolute;
  }
  .submenu-right {
    position: relative;
  }
  .submenu-right > .submenu {
    left: 160px;
    /* Abre a la derecha */
    top: 0;
    position: absolute;
  }
  .menuHamburgesa {
    display: none;
  }
}
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #007BFF;
  text-decoration: underline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*# sourceMappingURL=pagina.css.map */